{% extends 'adminLayout.html.twig' %}
{% block content %}
    <div class="page-header text-center">
        <h1>{% block title %}{{title}}{% endblock %}</h1>
    </div>

    {{form_start(productForm, {'attr': {'novalidate': 'novalidate'}})}}
        {{form_widget(productForm)}}
        {{form_rest(productForm)}}
    {{form_end(productForm)}}
{% endblock %}
